* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    height: auto;
    margin: 15% auto auto 25%;

}

#board-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
    width: 400px;
    height: 300px;
    align-items: center;
}

.square {
    padding-top: 20%;
    height: 100%;
    background:cadetblue;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color:whitesmoke;
    border: rgb(97, 84, 97) solid 1px;
    align-items: center;

}

body {
    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    user-select:none;
}

.reset-btn{
    padding: 10px;
    border: none;
    font-size: 19px;
    border-radius: 50%;
    background: whitesmoke;
    text-align: center;


}

.reset-msg{
    padding: 30px;
    color: whitesmoke;
    text-align: center;
    align-items: center;
}

.winner-msg {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:cadetblue;
    width: 400px;
    height: 120px;
    margin-bottom: 50px;



}